.choose{
    padding: 0 20px;
    margin-bottom: 168px;
}
.choose__container {
    max-width: 1280px;
    padding: 0 20px;
    height: auto;
    background: #2C343E;
    border-radius: 10px;
}

.choose__block {
    max-width: 1045px;
    padding: 91px 0px 107px 85px;
}
.choose-img__block{
    max-width: 791px;
    margin-bottom: 67px;
}
.choose__list{
    display: flex;
    align-items: center;
    gap: 95px;
}
.choose-img__block > img{
    max-width: 791px;
}
.choose__item{
    max-width: 285px;
    height: auto;
}
.choose__item:nth-child(3){
    padding: 0 20px 0 0;
}
.choose-item__01{
    font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
margin-top: 0;
margin-bottom: 38px;
}
.choose-item__title{
    font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #FEFCF7;
margin-bottom: 42px;
margin-top: 0;
}
.choose-item__text{
    font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
margin-top: 0;
margin-bottom: 0px;
}
.choose-img2__block{
    display: none;
}
@media screen and (max-width:950px) {
    .choose__container{
        max-width: 800px;
        height: auto;
    }
    .choose__block {
        max-width: 750px;
        padding: 97px 390px 96px 40px;
    }
    .choose-img__block{
        display: none;
    }
   .choose-img2__block{
    display: inline-block;
    margin-bottom: 48px;
   }
    .choose__list{
        max-width: 700px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 0;
        margin: 0;
    }
    .choose__item{
        max-width: 223px;
        height: auto;
    }
    .choose-item__01{
        font-size: 72px;
        line-height: 72px;
    }
    .choose-item__title{
        font-size: 28px;
        line-height: 32px;
    }
    .choose-item__text{
        max-width: 223px;
        width: 223px;
        font-weight: 400;
font-size: 15px;
line-height: 25px;
    }
}
@media screen and (max-width:800px) {
    .choose__container{
        max-width: 700px;
    }
    .choose-img2__block{
        display: none;
    }
    .choose__block{
        padding: 0;
        padding: 80px 24px 15px 24px;
        text-align: center;
    }
    .choose__list{
        flex-direction: column;
        text-align: center;
        
    }
    .choose__item{
        max-width: 700px;
    }
    .choose-item__text{
        padding: 0;
        margin-bottom: 65px;
    }
  
}